body {
    font-size: 18px; 
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
textarea {
    outline: none;
    border: none;
    resize: none;
    overflow-y: hidden;
}
.container {

    margin: 0 auto;
    padding: 10px 0;
}

.navbar {
    height: 70px;
    background-color: #000;
    color: #fff;
}
.mainBg {
    background-color: #121212;
}

/*---------------------------------Страница турнира---------------------------------------*/

.tournament {
    border: 1px solid black;
}
.tournamentHeader {
    margin: 0;
    /*border-left: 7px solid rgb(241, 70, 70);*/
    background-color: #2a2a2a;
    padding: 10px;
    color: #e7e7e7;
}
.tournamentTable {
    border-top: 1px solid black;
    background-color: #fff;
}
.tableRow {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid black;
    align-items: center;
    
}
.tableRow:last-child {
    border: none;
}
.place {
    width: 20px;
    text-align: center;
}
.team {
    width: 20%;
    display: flex;
    align-items: center;
}
.teamName {
    padding-left: 5px;
}
.index {
    width: 70%;
}
.index ul {
    display: flex;
    justify-content: space-around;
}
.index ul li {
    width: 112px;
    text-align: center;
}
.score {
    width: 112px;
    padding: 0;
    background-color: transparent;
    text-align: center;
    color: black;
}
.scoreTour {
    width: 30px;
    padding: 0;
    background-color: transparent;
    text-align: center;
    color: black;
}
.tours {
    border: 1px solid black;
    margin-top: 30px;
}

.teamLogo {
    width: 32px;
    /*border-radius: 100px;*/
}

.matchTable {
    border-top: 1px solid black;
    background-color: rgb(255, 255, 255);
}
.matchRow {
    display: flex;
    justify-content: space-between;
}
.matchDate {
    width: 10%;
    text-align: center;
}
.match {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.matchTour {
    text-align: center;
    width: 100px;
}
.matchMedia {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}
.protocols {
    width: 45%;
    text-align: center;
}
.match img {
    padding: 0 5px;
}
.matchPhoto {
    text-align: center;
    width: 45%;
    /*background-color: #E23C4A;*/
    background-color: #2a2a2a;
    color: #e7e7e7;
    padding: 5px 0;
    transition: all 0.2s ease;
}
.matchPhoto:hover {
    color: #fff;
    background-color: #505050;
}

/*------------------------------------Адаптив------------------------------------*/
@media (min-width: 1200px) and (max-width:1439px) {
    .container {
        width: 100%;
    }
    .index ul li {
        width: 100px;
        font-size: 16px;
    }
    .score {
        width: 100px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 100%;
    }
    .index {
        width: max-content;
    }
    .index ul li {
        width: 100px;
        font-size: 16px;
    }
    .score {
        width: 100px;
    }
    .team {
        width: 15%;
    }
    .matchDate {
        white-space: nowrap;
        width: 11%;
    }
    .matchMedia {
        width: 25%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 100%;
    }
    .tournamentHeader {
        font-size: 24px;
    }
    .tournamentTable {
        font-size: 14px;
    }
    .index {
        width: max-content;

    }
    .index ul li {
        width: 50px;
        font-size: 14px;
        margin: 0 5px;
    }
    .score {
        width: 50px;
    }
    .team {
        width: 25%;
    }
    .tours {
        font-size: 14px;
    }
    .matchDate {
        white-space: nowrap;
        width: 11%;
    }
    .matchMedia {
        width: 25%;
    }
}
@media (min-width: 650px) and (max-width: 767px) {
    .container {
        width: 100%;
    }
    .tournamentHeader {
        font-size: 24px;
    }
    .tournamentTable {
        font-size: 14px;
    }
    .index {
        width: max-content;

    }
    .index ul li {
        width: 50px;
        font-size: 14px;
        margin: 0 5px;
    }
    .score {
        width: 50px;
    }
    .team {
        width: 20%;
    }
    .tours {
        font-size: 14px;
    }
    .matchDate {
        white-space: nowrap;
        width: 11%;
    }
    .matchMedia {
        width: 30%;
    }
}

@media (min-width: 480px) and (max-width: 649px) {
    .container {
        width: 100%;
    }
    .tournamentHeader {
        font-size: 20px;
    }
    .tournamentTable {
        font-size: 12px;
    }
    .index {
        width: max-content;

    }
    .index ul li {
        width: 43px;
        font-size: 12px;
    }
    .score {
        width: 43px;
    }
    .team {
        width: 20%;
    }
    .team img{
        width: 24px;
    }
    .tours {
        font-size: 12px;
    }
    .teamLogo{
        width: 24px;
    }
    .matchDate {
        white-space: nowrap;
        width: 15%;
    }
    .matchMedia {
        width: 20%;
    }
    .protocols {
        width: max-content;
    }
    .protocols:last-child {
        display: none;
    }
    .matchPhoto {
        padding: 5px;
        width: max-content;
    }
    .matchPhoto:last-child {
        display: none;
    }
}
@media (max-width: 479px) {
    .container {
        width: 100%;
    }
    .tournamentHeader {
        font-size: 18px;
    }
    .tournamentTable {
        font-size: 12px;
    }
    .index {
        width: max-content;
    }
    .index ul li {
        width: 25px;
        font-size: 12px;
    }
    .score {
        width: 25px;
    }
    .team {
        width: max-content;
    }
    .team img{
        width: 16px;
    }
    .tours {
        font-size: 12px;
    }
    .match {
        width: 30%;
    }
    .teamLogo{
        width: 16px;
    }
    .matchTour {
        display: none;
    }
    .matchDate {
        white-space: nowrap;
        width: 25%;
    }
    .matchMedia {
        width: 50%;
    }
}